<div id="commentsContainer" >
    <div class="comment">
      <div class="comment-footer">
        <p><strong>By:</strong> <%= comment.user.email %></p>
      </div>
      <div class="comment-body">
        <p><strong>Comment:</strong> <%= comment.body %></p>
      </div>
      <div class="comment-footer">
        <p><strong>Posted at:</strong> <%= l(comment.created_at, format: :short) %></p>
      </div>
    </div>
</div>