<nav class="navbar navbar-expand-lg navbar-light bg-light">
 <div class="container-fluid">
    <%= link_to "Home", client_articles_path(client_id: client.sub_domain) ,class:"navbar-brand"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to "New Article",new_article_path(client_id: client.sub_domain),class:"nav-link" %>
        </li>
        <li class="nav-item">
          <div id="edit-sub-domain-modal" style="display: none;">
            <input type="text" id="sub-domain-input" placeholder="Enter new sub-domain">
            <button id="save-sub-domain">Save</button>
          </div>
        </li>
        <li class="nav-item">
          <%= link_to "Notifications", all_messages_path(client_id: client.sub_domain),class:"btn btn-primary btn-sm" %>
        </li>
        <li class="nav-item ">
          <%= button_to "Logout", destroy_user_session_path(client_id: client.sub_domain),method: :delete,class:"btn btn-danger logout-button" %>
        </li>
      </ul>
    </div>
 </div>
</nav>


<style>
.logout-button {
  position: absolute;
  right: 3%; /* Positions the button to the right */
  top: 50%; /* Centers the button vertically */
  transform: translateY(-50%); /* Adjusts the button's position to be perfectly centered vertically */
  margin: 0; /* Removes default margin */
}
</style>