<%= stylesheet_link_tag ('home_page')%>
<div class="homepage">
        <h1 class="title">Content Management</h1>
        <div class="container">
   <h1 class="clientsList">Active Clients</h1>
   <table class="table table-striped">
      <thead>
         <tr>
            <th>Name</th>
            <th>Action</th>
         </tr>
      </thead>
      <tbody>
         <% @clients.each do |client| %>
         <%if client.is_active%>
         <tr>
            <td><%= client.name %></td>
            <td>
               <%= link_to 'Sign In', new_user_session_path(client_id: client.sub_domain), class: 'btn btn-primary' %>
            </td>
         </tr>
         <%end%>
         <% end %>
      </tbody>
   </table>
   </div>
    </div>