.homepage {
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #6a11cb, #2575fc);
}

.title {
    font-size: 48px;
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clientsList{
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
